* {box-sizing: border-box;}

.wrapper {
    max-width: 1024px;
    margin: 0 auto;
}

.wrapper > * {
    background-color: #F8F9F9;
    border-radius: 5px;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.main-head {
    grid-area: header;
    font: 2.0em Helvetica, arial, sans-serif;
}
.content {
    grid-area: content;
    font: 1.0em Helvetica, arial, sans-serif;
}
.main-nav {
    grid-area: nav;
    font: 1.0em Helvetica, arial, sans-serif;
}
.side {
    grid-area: sidebar;
    border: 1px solid #808B96;
}
.ad {
    grid-area: ad;
    font: 0.8em Helvetica, arial, sans-serif;
}
.main-footer {
    grid-area: footer;
    font: 0.8em Helvetica, arial, sans-serif;
}
.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
            "header"
            "nav"
            "content"
            "sidebar"
            "ad"
            "footer";
}
@media (min-width: 500px) {
    .wrapper {
        grid-template-columns: 1fr 4fr;
        grid-template-areas:
                "header  header"
                "nav     nav"
                "sidebar content"
                "ad      footer";
    }
    nav ul {
        display: flex;
        justify-content: space-between;
    }
}

.depth_0 {
    margin-left: 5px;
    list-style-type: circle;
}

.depth_1 {
    margin-left: 20px;
    list-style-type: square;
}

.depth_2 {
    margin-left: 30px;
    list-style-type: none;
}
